$colorSelectSite: #885be7;
$widthSite: 1140px;

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    height: 100px;
    width: $widthSite;
    border: 1px solid #636363;
}

.top-head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs__link_site {
    font-weight: 700;
}