* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.box-content {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  height: 75px;
  box-sizing: border-box;
}
.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 33px;
}
.header__right {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 7px;
  gap: 33px;
}
.header__icon path {
  transition: 0.3s;
}
.header__icon:hover path {
  fill: #F16D7F;
}

#burger {
  position: absolute;
  left: -99999999999px;
  visibility: hidden;
}
#burger:checked ~ .navigation {
  right: -232px;
}

.navigation {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  transition: all 0.3s;
  z-index: 10;
}
.navigation__menu-head {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.navigation__heading {
  padding-bottom: 12px;
  color: #F16D7F;
}
.navigation__links {
  padding-left: 21px;
}
.navigation__link {
  display: block;
  padding-bottom: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.navigation__link:hover {
  color: #F16D7F;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3F4;
  height: 148px;
}
.top-content__left {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.top-content__right {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumb {
  margin-bottom: 0;
}
.breadcrumb__link {
  color: #636363;
}

.breadcrumb-item.active {
  color: #F16D7F;
  font-weight: bold;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding: 0px 16px 16px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sort__check {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.main-content {
  border: 1px solid #F16D7F;
  height: 500px;
  margin-bottom: 49px;
}

.pagination {
  margin-bottom: 97px;
}

.page-link {
  color: #C4C4C4;
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.page-link__left {
  border-left: 1px solid;
}
.page-link__right {
  border-right: 1px solid;
}
.page-link__arrow {
  color: black;
}

.page-link:hover {
  background-color: #FFF;
  color: #F16D7F;
  border-color: #C4C4C4;
  box-shadow: none;
}

.shop-info {
  background: #222224;
}
.shop-info__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 341px;
}
.shop-info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.shop-info__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.shop-info__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.figure-and-form {
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/figure_background.png") center/cover;
  height: 448px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.figure-and-form__figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 360px;
}
.figure-and-form__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.figure-and-form__form {
  display: flex;
  flex-direction: column;
}
.figure-and-form__form-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}
.figure-and-form__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.figure-and-form__form-input {
  display: flex;
  flex-direction: row;
  height: 49px;
}
.figure-and-form__input {
  background: #E1E1E1;
  width: 74.28%;
  border-radius: 24px 0px 0px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border: none;
  padding-left: 16px;
}
.figure-and-form__button {
  background: #F16D7F;
  width: 26.25%;
  border-radius: 0px 24px 24px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222224;
  height: 79px;
}
.footer__left {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__svg .path1 {
  transition: 0.3s;
}
.footer__svg:hover .path1 {
  fill: #F16D7F;
}
.footer__svg .path2 {
  transition: 0.3s;
}
.footer__svg:hover .path2 {
  fill: white;
}/*# sourceMappingURL=style.css.map */